
@{
    ViewBag.Title = "Tedarikçi Düzenleme Sayfası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MVC.Models.Tedarikciler
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Tedarikçi Güncelleme Sayfası
                </div>
                <div class="block-controls">
                    <a href="/Tedarikci/Index">
                        <span aria-hidden="true" class="icon icon-cross icon-size-medium block-control-remove"></span>
                    </a>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                  @using (Html.BeginForm())
                  {
                    @Html.AntiForgeryToken()



                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.TedarikciID)

                        <label>Şirket Adı</label>
                            @Html.TextBoxFor(x => x.SirketAdi, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SirketAdi)

                            <br />
                            <label>Müşteri Adı</label>
                            @Html.TextBoxFor(x => x.MusteriAdi, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MusteriAdi)

                            <br />
                            <label>Adres</label>
                            @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Adres)

                            <br />
                            <label>Şehir</label>
                            @Html.TextBoxFor(x => x.Sehir, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Sehir)

                            <br />
                            <label>Bölge</label>
                            @Html.TextBoxFor(x => x.Bolge, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Bolge)

                            <br />
                            <label>Posta Kodu</label>
                            @Html.TextBoxFor(x => x.PostaKodu, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PostaKodu)

                            <br />
                            <label>Ülke</label>
                            @Html.TextBoxFor(x => x.Ulke, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Ulke)

                            <br />
                            <label>Telefon</label>
                            @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Telefon)

                            <br />
                            <label>Faks</label>
                            @Html.TextBoxFor(x => x.Faks, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Faks)

                            <br />
                            <button type="submit" class="btn btn-primary" value="Güncelle">Güncelle</button>

                    }

                </div>
            </div>
        </div>
    </div>
</div>





